:root {
  --clr-black: #101010;
  --clr-white: #fff;
  --clr-orange: #fa913c;
  --clr-gray: #aaa;
  --clr-light-gray: #e7e7e7;
  --container-padding: clamp(1.5rem, -1.777rem + 13.981vw, 15rem);
}

/* ==================== font-face ==================== */
@font-face {
  font-family: 'Archivo Expanded';
  src: url('./fonts/ArchivoExpanded-Black.woff2') format('woff2'),
      url('./fonts/ArchivoExpanded-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('./fonts/ArchivoExpanded-ExtraBold.woff2') format('woff2'),
      url('./fonts/ArchivoExpanded-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('./fonts/ArchivoExpanded-Bold.woff2') format('woff2'),
      url('./fonts/ArchivoExpanded-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('./fonts/ArchivoExpanded-Regular.woff2') format('woff2'),
      url('./fonts/ArchivoExpanded-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('./fonts/ArchivoExpanded-Light.woff2') format('woff2'),
      url('./fonts/ArchivoExpanded-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('./fonts/ArchivoExpanded-Thin.woff2') format('woff2'),
      url('./fonts/ArchivoExpanded-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* ==================== Resets ==================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ==================== Utility Classes ==================== */
.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.container {
  padding-inline: var(--container-padding);
  margin: 0 auto;
}
.hilight {
  border-radius: 100px;
  padding-inline: .5rem;
}
.btn {
  background-color: var(--clr-orange);
  border: 1px solid var(--clr-orange);
  border-radius: 100px;
  color: var(--clr-white);
  font-size: clamp(0.875rem, 0.576rem + 1.274vw, 1.5rem);
  font-weight: 700;
  padding: clamp(1rem, 0.881rem + 0.51vw, 1.25rem) 1.5rem;
  text-transform: uppercase;
  transition: .3s ease-out;
}
:is(.btn, .nav__btn):hover {
  transform: scale(1.05);
}
.btn-white {
  background-color: var(--clr-white);
  color: var(--clr-orange);
}

/* ==================== Styles ==================== */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Archivo Expanded", sans-serif;
  font-size: clamp(0.875rem, 0.696rem + 0.764vw, 1.25rem);
  font-weight: 300;
  line-height: 1.4;
  height: auto;
  max-width: 1920px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}
h1, h2 {
  text-transform: uppercase;
}
h2 {
  font-weight: 800;
  margin-bottom: 1.5rem;
}
hr {
  border: 0;
  border-bottom: 1px solid var(--clr-black);
}
ul {
  list-style: none;
  padding: unset;
}
/* header */
header .container {
  position: relative;
  padding-block: 1rem;
  justify-content: space-between;
  align-items: center;
}
header .logo__img {
  height: 60px;
  transition: .5s ease-out;
}
nav a {
  color: var(--clr-gray);
}
.nav__list {
  list-style: none;
  display: flex;
  padding: 0;
}
.nav__item {
  transition: .3s ease-out;
}
.nav__item:hover {
  opacity: 0.6;
}
.nav__cta {
  display: flex;
  position: relative;
  text-transform: uppercase;
}
header hr {
  width: calc(100% - var(--container-padding));
  float: right;
}

/* hero */
#hero {
  position: relative;
  margin-block: 1.5rem;
  min-height: 420px;
}
#hero .hero-img {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: clamp(12.5rem, -1.831rem + 61.146vw, 42.5rem);
  z-index: 0;
}

#hero .container {
  align-content: center;
  position: relative;
  z-index: 1;
}

#hero h1 {
  font-size: clamp(2rem, 1.522rem + 2.038vw, 3rem);
  color: var(--clr-orange);
  line-height: 1.2;
  text-transform: uppercase;
  padding-top: 33px;
  margin-bottom: 40px;
  width: 10ch;
}
#hero h1 > span {
  color: var(--clr-gray);
  display: block;
}
#hero p {
  font-weight: 300;
}

#hero p:first-of-type {
  margin-bottom: clamp(1.25rem, 0.653rem + 2.548vw, 2.5rem);
}


#hero .hilight {
  color: var(--clr-white);
  background-color: var(--clr-orange);
}

/* sub menu */
.subMenu__bg {
  background: url(./images/basketball_ellipse-top.svg), url(./images/basketball_M.svg), url(./images/basketball_line.svg), url(./images/basketball_ellipse-bottom.svg), var(--clr-orange);
  background-position: center top, center, top center, bottom center;
  background-repeat: no-repeat, no-repeat, repeat-y, no-repeat;
}
.subMenu__bg .container {
  flex-direction: column;
  justify-content: space-between;
  color: var(--clr-white);
  text-transform: uppercase;
  min-height: clamp(37.5rem, 28.901rem + 36.688vw, 55.5rem);
  padding-block: 4rem;
}
.subMenu__list {
  justify-content: space-between;
}
.subMenu {
  display: grid;
  place-items: center;
  width: clamp(6.375rem, 2.255rem + 17.58vw, 15rem);
  height: clamp(6.375rem, 2.255rem + 17.58vw, 15rem);
  border-radius: 50%;
  color: var(--clr-white);
  font-size: clamp(0.625rem, 0.207rem + 1.783vw, 1.5rem);
  font-weight: 900;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.subMenu.spiritual {
  background-image: url(./images/home_spiritualGrowth.png);
}
.subMenu.academics {
  margin-top: 48px;
  background-image: url(./images/home_academics.png);
}
.subMenu.athletics {
  background-image: url(./images/home_athletics.png);
}
.subMenu__txt {
  font-weight: 700;
  text-align: center;
}
.subMenu__txt p:nth-child(1) {
  font-size: clamp(1rem, 0.761rem + 1.019vw, 1.5rem);
}
.subMenu__txt p:nth-child(2) {
  font-size: clamp(2rem, 1.522rem + 2.038vw, 3rem);
}
.subMenu__txt .hilight {
  color: var(--clr-orange);
  background-color: var(--clr-black);
  padding-inline: 1rem;
}

/* Imagine Learning & Elgibility Registration */
#imgLearning, #elgibility {
  position: relative;
  background-color: var(--clr-light-gray);
  padding-block-start: clamp(2rem, 0.567rem + 6.115vw, 5rem);
}
#imgLearning hr {
  position: absolute;
  left: 0;
  min-width: calc(100% - var(--container-padding));
}
#imgLearning .d-grid {
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  column-gap: clamp(0.625rem, 0.446rem + 0.764vw, 1rem);
}
.imgLearning__img {
  position: relative;
  top: -1rem;
}
.imgLearning__txt1 {
  align-self: center;
  margin-top: 1.5rem;
}
#imgLearning .hilight {
  background-color: var(--clr-white);
}
.imgLearning__txt2 {
  margin-top: 1rem;
  grid-column: 1 / span 2;
}
#elgibility {
  padding-block-end: clamp(2rem, 0.567rem + 6.115vw, 5rem);
  position: relative;
}
.elgibility__img {
  display: none;
}
#elgibility hr {
  position: absolute;
  right: 0;
  min-width: calc(100% - var(--container-padding));
  z-index: 0;
}
.elgibility__logo {
  padding-top: 2rem;
  justify-content: center; 
  gap: 2rem;
}
.elgibility__logo img {
  width: clamp(6.563rem, 5.518rem + 4.459vw, 8.75rem);
}

/* Testimonial */
#testimonial {
  padding-block: clamp(2.5rem, 1.306rem + 5.096vw, 5rem);
}
#testimonial h2 {
  color: var(--clr-orange);
  text-align: center;
  margin-bottom: clamp(1.5rem, 1.022rem + 2.038vw, 2.5rem);
}
.testiCard {
  display: grid;
  font-size: clamp(0.75rem, 0.69rem + 0.255vw, 0.875rem);
  grid-template-columns: clamp(7.25rem, 5.339rem + 8.153vw, 11.25rem) 1fr;
  gap: clamp(0.625rem, -0.032rem + 2.803vw, 2rem);
}
.testi-img {
  width: clamp(7.25rem, 5.339rem + 8.153vw, 11.25rem);
  height: clamp(7.25rem, 5.339rem + 8.153vw, 11.25rem);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.testi-img img {
  object-fit: cover;
}
.testi-txt {
  display: grid;
  align-content: center;
}
.testi-txt p {
  font-size: inherit;
}
.testi-name {
  margin-top: clamp(1rem, 0.761rem + 1.019vw, 1.5rem);
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
}
.testiSlider-control {
  position: relative;
  height: 48px;
  margin-top: 1rem;

}
.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 0;
  margin-top: unset;
}
.swiper-button-prev {
  left: calc(50% - 2rem);
  transform: translateX(-50%);
}
.swiper-button-next {
  right: calc(50% - 2rem);
  transform: translateX(50%);
}
.slider-arrow {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: var(--clr-orange);
}
.slider-arrow::after {
  content: '→';
  font-size: 1.5rem;
  color: var(--clr-white);
}
.swiper-button-prev::after {
  transform: scaleX(-1);
}

/* CTA */
.cta-heading {
  text-align: center;
}
#cta {
  background-image: url(./images/home_cta_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding-block: clamp(2.5rem, 1.306rem + 5.096vw, 5rem);
}
#cta .d-flex {
  justify-content: center;
  gap: clamp(0.625rem, 0.207rem + 1.783vw, 1.5rem);
}

/* Footer */
footer {
  color: var(--clr-white);
}
footer a {
  color: inherit;
}
.footer {
  background-color: var(--clr-orange);
}
.footer .container {
  gap: 2rem;
  line-height: 1.6;
  padding-block: 3.5rem;
  text-align: center;
}
.footer h3 {
  margin-bottom: clamp(0.5rem, 0.022rem + 2.038vw, 1.5rem);
}
.footer__logo__img {
  margin: 0 auto;
  width: clamp(8.063rem, 5.137rem + 12.484vw, 14.188rem);
}
.footer__contact__email {
  margin-top: clamp(0.5rem, 0.261rem + 1.019vw, 1rem);
}
.footer__menu a:hover {
  opacity: 0.6;
}

.footer__sic {
  justify-content: center;
  gap: 1rem;
}
.footer__sic .fa {
  display: grid;
  place-items: center;
  border: 1px solid var(--clr-white);
  border-radius: 50%;
  font-size: 1.8rem;
  height: 75px;
  width: 75px;
  transition: .5s ease-out;
}
.footer__sic .fa:hover {
  background-color: var(--clr-white);
  color: var(--clr-orange);
}
.footer__copyright {
  background-color: var(--clr-black);
}
.footer__copyright .container {
  flex-direction: column-reverse;
  align-items: center;
  gap: 0.5rem;
  padding-block: 1.8rem;
}
.footer__copyright a {
  text-decoration: underline;
}

/* ==================== MEDIA QUERY ==================== */

/* ---------- min 768px ---------- */
@media screen and (min-width: 768px) {
  /* hero */
  #hero {
    margin: 3rem 0 5rem;
  }
  #hero h1 {
    padding-top: unset;
    width: unset;
  }
  #hero p {
    width: 56%;
  }

  /* Imagine Learning & Elgibility Registration */
  #imgLearning .d-grid {
    grid-template-columns: 1fr 33.33%;
  }
  .imgLearning__img {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
  .imgLearning__txt2 {
    grid-column: 1;
  }
  #elgibility {
    padding-block-start: 1rem;
  }
  #elgibility .d-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
  .elgibility__img {
    display: block;
    position: relative;
  }
  .elgibility__img .orangeCircle {
    position: absolute;
    background-color: var(--clr-orange);
    border-radius: 50%;
    mix-blend-mode: multiply;
    height: 100%;
    aspect-ratio: 1 / 1;
    z-index: 2;
  }
  .elgibility__img img {
    position: relative;
    top: 6%;
    left: 10%;
    z-index: 1;
  }
  .elgibility__txt{
    text-align: center;
    align-self: center;
  }

  /* Testimonial */
  .testiCard {
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: start;
    padding-inline: 1.5rem;
    text-align: center;
    height: auto;
  }
  .testiCard:not(:first-child) {
    border-left: 1px solid var(--clr-black);
  }
  .testiSlider-control {
    margin-top: 1.5rem;
  }
}

/* ---------- min 920px ---------- */
@media screen and (min-width:920px) {
  /* header */
  header .logo__img {
    height: 120px;
  }
  .nav {
    font-size: 1.125rem;
    display: flex;
    align-items: center;
  }
  .nav__list {
    gap: 1rem;
  }
  .nav__cta {
    font-size: 1rem;
    font-weight: 700;
    gap: 1rem;
    margin-left: 1.5rem;
  }
  .nav__btn {
    background-color: var(--clr-orange);
    border: 1px solid var(--clr-orange);
    border-radius: 100px;
    color: var(--clr-white);
    padding: .9rem 1.5rem;
    transition: .3s ease-out;
  }
  .nav__btn-white {
    background-color: var(--clr-white);
    color: var(--clr-orange);
  }
  .toggle {
    display: none;
  }
  
  /* sub menu */
  .subMenu__bg {
    background: url(./images/basketball_ellipse-left.svg), url(./images/basketball_M-desktop.svg), url(./images/basketball_line-desktop.svg), url(./images/basketball_ellipse-right.svg), var(--clr-orange);
    background-position: left center, center, left center, right center;
    background-repeat: no-repeat, no-repeat, repeat-x, no-repeat;
  }
  .subMenu__bg .container {
    flex-direction: row;
    align-items: center;
  }
  .subMenu__list {
    flex-direction: column;
  }
  .subMenu.academics {
    margin-top: unset;
    margin-left: 200px;
  }
  .subMenu__txt {
    text-align: left;
  }
  .subMenu__txt p:nth-child(1) {
    margin-top: 7.5rem;
    margin-bottom: 40px;
  }

  /* Footer */
  .footer .container {
    grid-template-columns: repeat(4,1fr);
    text-align: left;
  }
  .footer__logo__img {
    margin: unset;
  }
  .footer__logo {
    justify-self: start;
  }
  .footer__menu {
    justify-self: end;
  }
  .footer__copyright .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
/* ---------- 1441px ---------- */
@media (min-width:1444px) {
  #hero p {
    width: 57%;
  }
}

@media (max-width:919px) {
  header.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  header.sticky {
    background-color: rgba(255, 255, 255, .9)
  }
  header.sticky .container {
    padding-block: 0.5rem;
  }
  header.sticky .logo__img {
    height: 36px;
  }
  .nav {
    position: absolute;
    top: 93px;
    left: 0;
    background-color: var(--clr-white);
    font-size: 1.5rem;
    width: 100%;
    height: calc(100vh - 93px);
    overflow-y: scroll;
    z-index: 3;
    padding-block: 85px;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
  }
  .nav.active {
    visibility: visible;
    opacity: 1;
  }
  .nav__list {
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom:60px;
  }
  .nav__item {
    text-align: center;
  }
  .nav__cta {
    flex-direction: column;
    justify-content: center;
    gap: 64px;
    height: 140px;
    text-align: center;
  }
  .nav__cta::before {
    content: '';
    position: absolute;
    border-top: 1px solid var(--clr-black);
    width: 100%;
  }
  .nav__cta {
    background: url(./images/basketball_nav_ellipse-left.svg), url(./images/basketball_nav_ellipse-right.svg);
    background-position: left center, right center;
    background-repeat: no-repeat;
  }
  .nav__cta a {
    color: var(--clr-orange);
    font-weight: 700;
  }
  .toggle {
    display: block;
    position: relative;
    width: 32px;
    height: 18px;
    cursor: pointer;
  }
  .toggle:before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    background: var(--clr-gray);
    z-index: 1;
    box-shadow: 0 8px 0 var(--clr-gray);
    transition: 0.5s;
  }
  .toggle:after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--clr-gray);
    z-index: 1;
    transition: 0.5s;
  }
    .toggle.active::before{
    transform: translateY(8px) rotate(45deg);
    box-shadow: none;
  }
  .toggle.active::after{
    transform: translateY(-8px) rotate(-45deg);
  }

}