:root {
  --clr-black: #000;
  --clr-white: #fff;
  --clr-orange: #fa913c;
  --clr-gray: #aaa;
  --clr-light-gray: #e7e7e7;
}

/* ---------- font-face ---------- */
@font-face {
  font-family: 'Archivo Expanded';
  src: url('./fonts/ArchivoExpanded-Black.woff2') format('woff2'),
      url('./fonts/ArchivoExpanded-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('./fonts/ArchivoExpanded-ExtraBold.woff2') format('woff2'),
      url('./fonts/ArchivoExpanded-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('./fonts/ArchivoExpanded-Bold.woff2') format('woff2'),
      url('./fonts/ArchivoExpanded-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('./fonts/ArchivoExpanded-Regular.woff2') format('woff2'),
      url('./fonts/ArchivoExpanded-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('./fonts/ArchivoExpanded-Light.woff2') format('woff2'),
      url('./fonts/ArchivoExpanded-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  src: url('./fonts/ArchivoExpanded-Thin.woff2') format('woff2'),
      url('./fonts/ArchivoExpanded-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* ---------- Resets ---------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Archivo Expanded", sans-serif;
  font-size: clamp(0.875rem, 0.696rem + 0.764vw, 1.25rem);
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ---------- Utility Classes ---------- */
.d-flex {
  display: flex;
}

.container {
  padding-inline: clamp(1.5rem, -1.777rem + 13.981vw, 15rem);
  margin: 0 auto;
}

/* ---------- Styles ---------- */

hr {
  border: 0;
  border-bottom: 1px solid var(--clr-black);
}

/* header */

header .container {
  padding-block: 1rem;
  justify-content: space-between;
  align-items: center;
}

header .logo > img {
  height: 60px;
}

header nav a {
  color: var(--clr-gray);
  text-decoration: none;
}

header hr {
  width: calc(100% - 1.5rem);
  float: right;
}

/* hero */

#hero {
  position: relative;
  margin-block: 1.5rem;
  min-height: 420px;
}
#hero .hero-img {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: clamp(15rem, 2.52rem + 53.248vw, 41.125rem);
  z-index: 0;
}

#hero .container {
  display: grid;
  align-content: center;
  position: relative;
  z-index: 1;
}

#hero h1 {
  font-size: clamp(2rem, 1.522rem + 2.038vw, 3rem);
  color: var(--clr-orange);
  line-height: 1.2;
  text-transform: uppercase;
  padding-top: 33px;
  margin-bottom: 40px;
  width: 10ch;
}
#hero h1 > span {
  color: var(--clr-gray);
  display: block;
}
#hero p {
  font-weight: 300;
  line-height: 1.4;
}

#hero p:first-of-type {
  margin-bottom: clamp(1.25rem, 0.653rem + 2.548vw, 2.5rem);
}


#hero p:first-of-type span {
  color: var(--clr-white);
  background-color: var(--clr-orange);
  border-radius: .5rem;
  padding-inline: .5rem;
}

/* sub menu */
.bg-basketball {
  background: url(./images/basketball_ellipse-top.svg), url(./images/basketball_M.svg), url(./images/basketball_line.svg), url(./images/basketball_ellipse-bottom.svg), var(--clr-orange);
  background-position: center top, center, top center, bottom center;
  background-repeat: no-repeat, no-repeat, repeat-y, no-repeat;
}
.bg-basketball .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--clr-white);
  text-transform: uppercase;
  min-height: clamp(37.5rem, 28.901rem + 36.688vw, 55.5rem);
  padding-block: 4rem;
}
.subMenu_list {
  justify-content: space-between;
}
.subMenu {
  display: grid;
  place-items: center;
  width: clamp(6.375rem, 2.255rem + 17.58vw, 15rem);
  height: clamp(6.375rem, 2.255rem + 17.58vw, 15rem);
  border-radius: 50%;
  color: var(--clr-white);
  font-size: clamp(0.625rem, 0.207rem + 1.783vw, 1.5rem);
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: 100%;
}
.subMenu.spiritual {
  background-image: url(./images/home_spiritualGrowth.png);
}
.subMenu.academics {
  margin-top: 48px;
  background-image: url(./images/home_academics.png);
}
.subMenu.athletics {
  background-image: url(./images/home_athletics.png);
}
.subMenu_txt {
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
}
.subMenu_txt p:nth-child(1) {
  font-size: clamp(1rem, 0.761rem + 1.019vw, 1.5rem);
}
.subMenu_txt p:nth-child(2) {
  font-size: clamp(2rem, 1.522rem + 2.038vw, 3rem);
}
.subMenu_txt p:nth-child(2) span {
  color: var(--clr-orange);
  background-color: var(--clr-black);
  border-radius: .5rem;
  padding-inline: 1rem;
}

@media (min-width: 768px) {
  
  /* hero */
  #hero {
    margin-block: 3rem;
  }
  #hero h1 {
    padding-top: unset;
    width: unset;
  }
  #hero p {
    width: 55%;
  }
}

@media (min-width:920px) {
  /* header */
  header .logo > img {
    height: 120px;
  }

  header nav {
    font-size: 1.125rem;
  }

  /* sub menu */
  .bg-basketball {
    background: url(./images/basketball_ellipse-left.svg), url(./images/basketball_M-desktop.svg), url(./images/basketball_line-desktop.svg), url(./images/basketball_ellipse-right.svg), var(--clr-orange);
    background-position: left center, center, left center, right center;
    background-repeat: no-repeat, no-repeat, repeat-x, no-repeat;
  }
  .bg-basketball .container {
    flex-direction: row;
    align-items: center;
  }
  .subMenu_list {
    flex-direction: column;
  }
  .subMenu.academics {
    margin-top: unset;
    margin-left: 200px;
  }
  .subMenu_txt {
    text-align: left;
  }
  .subMenu_txt p:nth-child(1) {
    margin-top: 7.5rem;
    margin-bottom: 40px;
  }
}
